* {
    font-family: 'Inter', sans-serif;
}

body {
	margin: 0;
	padding: 0;
    background-color: #fffcf123;
}

p {
    font-weight: 300; 
    line-height: 25px;
    color:rgb(94, 94, 94);
    /* font-size: 1.em; */
}

a {
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-weight: normal;
}

a:hover {
    color: rgb(131, 162, 186);
}

.text-area {
    flex: 2;
    padding: 20px;
}
.portrait {
    flex: 1;
    background-size: cover;
    background-position: center;
}

.main-container {
    margin-top: 25px;
    margin-bottom: 100px;
    margin-left: 15%;
    margin-right: 15%;
}
.content-container {
    padding: 80px;
    padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.container {
    padding: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.btn {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    font-size: 16px;
    font-weight: 300;
    margin: 8px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
  
.btn:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
    padding: 4px;
}
  
.footer-container {
    max-width: 1200px;
}
  
.footer-label {
    margin: 10px;
    font-size: 12px;
}
  
.footer-label::before {
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {
    .content-container {
        flex-direction: column;
        padding: 18px;
    }
    .container {
        flex-direction: column;
    }
    .text-area {
        flex: 1;
    }
    .portrait {
        flex: 1;
    }
    .main-container {
        margin-left: 0%;
        margin-right: 0%;
    }
}